.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
fpga/ulx3s/build
test/__pycache__/
test/results.xml
test/results_fpga.xml
test/results_sdram.xml
test/gate_level_netlist.v
test/*.vvp
test/icache.log

__pycache__/
*.elf
test/dtc.log
test/plic.log
